<div class="jumbotron">
    
    {{#if user}}
        <h1 class="display-4" style="color:black">Olá, <span style="color:red">{{user.nome}}</span></h1>
    {{else}}
        <h1 class="display-4" style="color:red">Oi Amor da Minha Vidaaa</h1>
    {{/if}}

    <p class="lead">Testa esse site aqui pra mim namoralzinha, só pra ver se ta funcionando direitinho kkkkkk.</p>
    <hr class="my-4">
    <h3>#Stefani #AmorDaMinhaVida #Mozao #MinhaPrincesa #MinhaJóiaDoInfinito #MeuMundo #Eu&Você #Você&Eu</h3>
    <a class="btn btn-primary btn-lg" href="/teamo" role="button" style="color:red">Clique Aqui Amor da Minha Vida</a>
</div>

{{#each funcs}}
    <div class="card mt-3">
        <div class="card-body">
            <a href="/info/{{matricula}}"> <h5>{{nome}}</h5> </a>
            <p style="color:blue; font-weight:bold">[{{matricula}}]</p>
        </div>
    </div>
{{/each}}
